*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: green;
    display: flex;
    justify-content: center;
}
h2{
    color: green;
    font-size: 20px;
}
h4 {
    color: green;
}
h5 {
    color: green;
}
body {
    background-image: url(/684034.jpg);
}
h4.specs{
    font-size: 17px;
}
h4#bit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 400px;
}
h4#money{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 400px;
}

.container-text-center {
    /* margin-top: 100px; */
    background-color: rgb(0, 0, 0);
    height: 600px;
    
    padding: 30px;
}
.container-sm{
    /* margin-top: 20px; */
    border: 10px solid green;
    height: 700px;
    padding: 30px;
    background-color: rgb(0, 0, 0);
}
.container-spec{
    display: flex;
    /* margin-top: 20px; */

}
.upgradeCPU {
    opacity: 100%;
    background-color: black;
    border: 1px solid black;
    color: green;
    width: 100px;
    height: 30px;
}
.upgradeGPU {
    opacity: 100%;
    background-color: black;
    border: 1px solid black;
    color: green;
    width: 100px;
    height: 30px;
}
.upgradeRAM{
    opacity: 100%;
    background-color: black;
    border: 1px solid black;
    color: green;
    width: 100px;
    height: 30px;
}
.upgrade:hover{
    color: cornflowerblue;
    transition: ease-in-out 100ms;
}
#buyBtn {
    color: green;
    background-color: black;
    border: 1px solid black;
    width: 20px;
    height: 20px;
}
#start:active{
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
    size: 50px;
}
#stop:active{
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
    size: 50px;
}

#bitpower{
    border: 1px;
    border-radius: 1px solid green;
    color: green;
    font-size: 25px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 400px;
}
#trade{
    margin-right: 10px;
}
#start{
    margin-right: 10px;
}
.col{
    display: block;   
    margin-top: 5px;
}
.btn {
    margin-top: 10px;
    font-size: 17px;
}
.row{
    margin-top: 10px;
}
.cpu-menu{
    overflow:scroll; word-wrap:break-word;
    padding: 10px;
    display: none;
    background-color: #000000;
    border: 2px solid green;
    position: absolute;
    z-index: 9;
    /* top: 50%;
    left: 20%; */
    width: 500px;
    height: 600px;
    /* transform: translate(-33%, -50%); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.gpu-menu{
    overflow:scroll; word-wrap:break-word;
    padding: 10px;
    display: none;
    background-color: #000000;
    border: 2px solid green;
    position: absolute;
    z-index: 9;
    /* top: 50%;
    left: 20%; */
    width: 500px;
    height: 600px;
    /* transform: translate(-33%, -50%); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.ram-menu{
    overflow:scroll; word-wrap:break-word;
    padding: 10px;
    display: none;
    background-color: #000000;
    border: 2px solid green;
    position: absolute;
    z-index: 9;
    /* top: 50%;
    left: 20%; */
    width: 500px;
    height: 600px;
    /* transform: translate(-33%, -50%); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn-close{
    color: rgb(4, 255, 4);
    display: flex;
   
  }
  .btn-close:hover{
    color: green;
  }